body {
  font-family: 'Microsoft Jhenghei';
}

table {
  table-layout: fixed;
}

#gear {
  left: 15px;
  width: 40px;
  bottom: 15px;
  margin: 10px;
  cursor: pointer;
  position: fixed;
}

#footer {
  font-size: 12px;
}

@media only screen and (max-width: 1024px) {
  #gear {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #setting {
    display: none;
  }
}
